[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_dir }}/{{ consul_cfg_name }}

[Service]
User={{ consul_user }}
Group={{ consul_group }}
RuntimeDirectory={{ consul_service_name }}
RuntimeDirectoryMode=0755
{% if consul_initial_setup %}{% if ansible_distribution_release == 'bionic' or ansible_distribution_release == 'focal' %}
ExecStartPre=+{{ consul_templates_dir }}/consul/initial-setup
{% elif ansible_distribution_release == 'xenial' %}
PermissionsStartOnly=true
ExecStartPre={{ consul_templates_dir }}/consul/initial-setup
{% endif %}{% endif %}
ExecStart={{ consul_binary_dir }}/{{ consul_binary_name }} agent -config-dir={{ consul_config_dir }}/
ExecReload={{ consul_binary_dir }}/{{ consul_binary_name }} reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
